@import 'variables.scss';

// input chrome autofill fix
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

// custom scrollbars
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: $body;
}
::-webkit-scrollbar-thumb {
  background: $primary;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary-light;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
}
